{% extends "base.html" %}

{% block main %}
<main>
  {%- set section = get_section(path="blog/_index.md") %}
  {%- if section.pages %}
  <h4>Recent posts (<a href="{{ get_url(path="@/blog/_index.md", lang=lang) }}">more</a>)</h4>
  <ul class="listing">
    {%- for page in section.pages | sort(attribute="date") | reverse | slice(end=5) %}
    <li>
      <time datetime='{{ page.date | date(format='%+') }}' pubdate>
        {{ page.date | date(format=config.extra.date_format) }}
      </time>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
    {%- endfor %}
  </ul>
  {%- endif %}
</main>
{% endblock %}
