:root {
  --content-padding: 1em;

  --table-bg-color: #5871a220;

  @media (prefers-color-scheme: dark) {
    --bg-color: #333;
    --text-color: #ddd;
    --link-color: #8cc2dd;
  }

  @media (prefers-color-scheme: light) {
    --bg-color: #fff;
    --text-color: rgb(68, 68, 68);
    --link-color: rgb(50, 115, 220);
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: serif;
  font-size: 1em;
  margin: auto;
  overflow-wrap: break-word;
  padding: var(--content-padding);
  text-align: left;
  word-wrap: break-word;
}

h1,
img {
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
}

img {
  max-width: 100%;
}

time {
  padding-right: 2em;
}

ul.listing {
  margin: 0;
  padding: 0;
}

ul.listing li {
  display: flex;
}

blockquote {
  border-left: 1px solid #999;
  font-style: italic;
  margin: 0;
  padding-left: 1em;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid var(--table-bg-color);
}

th, td {
  padding: 0.25em 0.5em;
}

thead {
  background-color: var(--table-bg-color);
}

tr:nth-child(even) {
  background-color: var(--table-bg-color);
}

header {
  block-size: fit-content;
  display: flex;
  gap: 1em;
  justify-content: center;
  width: fit-content;
}

header section.logo img {
  border-radius: 50%;
  border: 0;
  height: 60px;
  width: 60px;
}

header section.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.5;
}

header section.info h1 {
  display: inline;
  font-size: 1.1em;
}

nav {
  block-size: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  width: fit-content;
}

nav.primary {
  margin: 1em 0 1em;
}

nav.taxonomy {
  margin: 0;
  gap: 0 0.25em;
}

nav.secondary {
  gap: 0.75em;
}

main {
  block-size: fit-content;
  width: fit-content;
}

main h1 {
  font-size: 1.5em;
}

main small {
}

footer {
  margin: 1em 0;
  block-size: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-around;
  width: fit-content;
}

footer nav {
  font-size: 0.9em;
}

footer .copyright {
  font-size: 0.8em;
}
